#Loading Dataset

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
#upload dataset
from google.colab import files
uploaded = files.upload()
import io
from sklearn.metrics import roc_auc_score, accuracy_score, confusion_matrix, roc_curve, precision_score, recall_score, precision_recall_curve
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)

Saving churn_prediction.csv to churn_prediction.csv

In [ ]:
df = pd.read_csv('churn_prediction.csv')

In [ ]:
df.head()

   customer_id  vintage  ...  previous_month_balance churn
0            1     3135  ...                 1458.71     0
1            2      310  ...                 8787.61     0
2            4     2356  ...                 5070.14     0
3            5      478  ...                 1669.79     1
4            6     2531  ...                 1677.16     1

[5 rows x 21 columns]

#Data Cleaning - Missing Values

In [ ]:
#Convert Gender
dict_gender = {'Male': 1, 'Female':0}
df.replace({'gender': dict_gender}, inplace = True)

#replaces NaN values with -1
df['gender'] = df['gender'].fillna(-1)

In [ ]:
df['dependents'] = df['dependents'].fillna(0)
df['occupation'] = df['occupation'].fillna('self_employed')

In [ ]:
df['city'] = df['city'].fillna(1020)

In [ ]:
df['days_since_last_transaction'] = df['days_since_last_transaction'].fillna(999)

#Adding Class Labels Column

In [ ]:
labels = [1, 2, 3, 4]
df['class_labels'] = pd.qcut(df['current_month_debit'], q=4, labels=labels)

In [ ]:
df.head()

   customer_id  vintage  age  ...  previous_month_balance  churn class_labels
0            1     3135   66  ...                 1458.71      0            1
1            2      310   35  ...                 8787.61      0            4
2            4     2356   31  ...                 5070.14      0            4
3            5      478   90  ...                 1669.79      1            2
4            6     2531   42  ...                 1677.16      1            3

[5 rows x 22 columns]

#Pre-processing

In [ ]:
# Convert occupation to one hot encoded features
df = pd.concat([df,pd.get_dummies(df['occupation'],prefix = str('occupation'),prefix_sep='_')],axis = 1)

In [ ]:
all_cols = ['customer_nw_category', 'current_balance',
            'previous_month_end_balance', 'average_monthly_balance_prevQ2', 'average_monthly_balance_prevQ',
            'current_month_credit','previous_month_credit', 'current_month_debit',
            'previous_month_debit','current_month_balance', 'previous_month_balance','vintage','age','dependents']

num_cols = ['customer_nw_category', 'current_balance',
            'previous_month_end_balance', 'average_monthly_balance_prevQ2', 'average_monthly_balance_prevQ',
            'current_month_credit','previous_month_credit', 'current_month_debit',
            'previous_month_debit','current_month_balance', 'previous_month_balance']

for i in num_cols:
    df[i] = np.log(df[i] + 17000)

std = StandardScaler()
scaled = std.fit_transform(df[all_cols])
scaled = pd.DataFrame(scaled,columns=all_cols)

#Dividing into Data Frames - Classes

In [ ]:
df1 = df[df['class_labels'] == 1]

In [ ]:
df1.head()

    customer_id  vintage  ...  occupation_self_employed  occupation_student
0             1     3135  ...                         1                   0
17           20     6111  ...                         1                   0
22           25     3101  ...                         1                   0
29           32     2204  ...                         0                   0
32           35     1124  ...                         1                   0

[5 rows x 27 columns]

In [ ]:
df2 = df[df['class_labels'] == 2]

In [ ]:
df2.head()

    customer_id  vintage  ...  occupation_self_employed  occupation_student
3             5      478  ...                         1                   0
10           12      661  ...                         0                   0
14           16     2314  ...                         1                   0
18           21     5821  ...                         1                   0
25           28      606  ...                         1                   0

[5 rows x 27 columns]

In [ ]:
df3 = df[df['class_labels'] == 3]

In [ ]:
df3.head()

   customer_id  vintage  ...  occupation_self_employed  occupation_student
4            6     2531  ...                         1                   0
5            7      263  ...                         1                   0
6            8     5922  ...                         0                   0
7            9     1145  ...                         1                   0
8           10     2132  ...                         0                   0

[5 rows x 27 columns]

In [ ]:
df4 = df[df['class_labels'] == 4]

In [ ]:
df4.head()

    customer_id  vintage  ...  occupation_self_employed  occupation_student
1             2      310  ...                         1                   0
2             4     2356  ...                         0                   0
9            11     3379  ...                         1                   0
11           13     7108  ...                         0                   0
12           14     2438  ...                         0                   0

[5 rows x 27 columns]


#C1 - Decision Tree

In [ ]:
df1_org = df1.copy()
df1 = df1.drop(columns = all_cols, axis = 1)
df1 = df1.merge(scaled,left_index=True,right_index=True,how = "left")
y1_all = df1.churn
x1_all=df1.drop(['churn','customer_id','occupation'],axis = 1)

In [ ]:
from sklearn.model_selection import train_test_split as tts
trainX1,testX1,trainY1,testY1=tts(x1_all,y1_all,random_state=50,stratify=y1_all)

trainX1.shape, testX1.shape, trainY1.shape, testY1.shape

((5448, 24), (1816, 24), (5448,), (1816,))

In [ ]:
from sklearn.tree import DecisionTreeClassifier as DTC

In [ ]:
Dtc_clf=DTC(max_depth=4)
Dtc_clf.fit(trainX1,trainY1)
Dtc_score_train=Dtc_clf.score(trainX1,trainY1)
Dtc_score_test=Dtc_clf.score(testX1,testY1)
Dtc_pred=Dtc_clf.predict(testX1)
Dtc_predP = Dtc_clf.predict_proba(testX1)[:,1]
Dtc_score_train, Dtc_score_test

(0.9208883994126285, 0.9091409691629956)

#C2 - Support Vector Machine

In [ ]:
df2_org = df2.copy()
df2 = df2.drop(columns = all_cols, axis = 1)
df2 = df2.merge(scaled,left_index=True,right_index=True,how = "left")
y2_all = df2.churn
x2_all=df2.drop(['churn','customer_id','occupation'],axis = 1)

In [ ]:
from sklearn.model_selection import train_test_split as tts
trainX2,testX2,trainY2,testY2=tts(x2_all,y2_all,random_state=50,stratify=y2_all)

trainX2.shape, testX2.shape, trainY2.shape, testY2.shape

((5195, 24), (1732, 24), (5195,), (1732,))

In [ ]:
from sklearn.svm import SVC

In [ ]:
SVM_clf=SVC(probability=True)
SVM_clf.fit(trainX2,trainY2)
SVM_score_train=SVM_clf.score(trainX2,trainY2)
SVM_score_test=SVM_clf.score(testX2,testY2)
SVM_pred=SVM_clf.predict(testX2)
SVM_score_train, SVM_score_test

(0.8843118383060635, 0.8839491916859122)

#C3 - Random Forest

In [ ]:
df3_org = df3.copy()
df3 = df3.drop(columns = all_cols, axis = 1)
df3 = df3.merge(scaled,left_index=True,right_index=True,how = "left")
y3_all = df3.churn
x3_all=df3.drop(['churn','customer_id','occupation'],axis = 1)

In [ ]:
from sklearn.model_selection import train_test_split as tts
trainX3,testX3,trainY3,testY3=tts(x3_all,y3_all,random_state=50,stratify=y3_all)

trainX3.shape, testX3.shape, trainY3.shape, testY3.shape

((5321, 24), (1774, 24), (5321,), (1774,))

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
RFC_clf = RandomForestClassifier(max_depth=5, random_state=0) #maxdepth is the depth of each tree in forest, random state is used for reproducing the problem the same every time it is run
RFC_clf.fit(trainX3,trainY3)
RFC_score_train=RFC_clf.score(trainX3,trainY3)
RFC_score_test=RFC_clf.score(testX3,testY3)
RFC_pred=RFC_clf.predict(testX3)
RFC_predP = RFC_clf.predict_proba(testX3)[:,1]
RFC_score_train, RFC_score_test

(0.8654388272881037, 0.8607666290868095)

#C4 - Logistic Regression

In [ ]:
df4_org = df4.copy()
df4 = df4.drop(columns = all_cols, axis = 1)
df4 = df4.merge(scaled,left_index=True,right_index=True,how = "left")
y4_all = df4.churn
x4_all=df4.drop(['churn','customer_id','occupation'],axis = 1)

In [ ]:
from sklearn.model_selection import train_test_split as tts
trainX4,testX4,trainY4,testY4=tts(x4_all,y4_all,random_state=50,stratify=y4_all)

trainX4.shape, testX4.shape, trainY4.shape, testY4.shape

((5322, 24), (1774, 24), (5322,), (1774,))

In [ ]:
from sklearn.linear_model import LogisticRegression as LR

In [ ]:
LR_clf=LR(max_iter=1000)
LR_clf.fit(trainX4,trainY4)
LR_str=LR_clf.score(trainX4,trainY4)
LR_ste=LR_clf.score(testX4,testY4)
LR_pred=LR_clf.predict(testX4)
LR_predP = LR_clf.predict_proba(testX4)[:,1]
LR_str,  LR_ste

(0.7482149567831642, 0.7519729425028185)

#Overall Accuracy

In [ ]:
wavg_accuracy = ((len(testX1)*Dtc_score_test) + (len(testX2)*SVM_score_test) + (len(testX3)*RFC_score_test) + (len(testX4)*LR_ste))/(len(testX1)+len(testX2)+len(testX3)+len(testX4))
wavg_accuracy

0.8716065388951522

#Voting Classifier on the entire dataset - Soft

In [ ]:
df_org = df.copy()
df = df.drop(columns = all_cols, axis = 1)
df = df.merge(scaled,left_index=True,right_index=True,how = "left")
y_all = df.churn
x_all=df.drop(['churn','customer_id','occupation'],axis = 1)

In [ ]:
from sklearn.model_selection import train_test_split as tts
trainX,testX,trainY,testY=tts(x_all,y_all,random_state=50,stratify=y_all)

trainX.shape, testX.shape, trainY.shape, testY.shape

((21286, 24), (7096, 24), (21286,), (7096,))

In [ ]:
testX.head()

       gender    city  branch_code  ...   vintage       age  dependents
14139     1.0   656.0           46  ...  2.338782  1.448413   -0.330877
27991     1.0   253.0         1960  ... -1.108217 -0.573281    4.886317
24435     1.0  1020.0         1211  ... -0.534339  1.055305   -0.330877
23372     0.0  1020.0          544  ...  0.600997 -0.236332   -0.330877
1799      1.0  1477.0         1739  ... -0.378447  0.662198   -0.330877

[5 rows x 24 columns]

In [ ]:
from sklearn.ensemble import VotingClassifier
scores = [Dtc_score_test, SVM_score_test, RFC_score_test, LR_ste]
v_clf = VotingClassifier(estimators=[('Dtc_clf', Dtc_clf),('SVM_clf', SVM_clf),('RFC_clf', RFC_clf),('LR_clf', LR_clf)], voting='soft', weights=scores)
v_clf.fit(trainX,trainY)
score_train=v_clf.score(trainX,trainY)
score_test=v_clf.score(testX,testY)
pred=v_clf.predict(testX)

In [ ]:
score_train, score_test

(0.8677402987879358, 0.8665332581736189)